[submodule "libphutil"]
	path = libphutil
	url = git://github.com/phacility/libphutil.git
[submodule "arcanist"]
	path = arcanist
	url = git://github.com/phacility/arcanist.git
[submodule "phabricator"]
	path = phabricator
	url = git://github.com/phacility/phabricator.git
