name: Update

on:
  schedule:
    - cron: '0 * * * *'

jobs:
  update:

    runs-on: ubuntu-latest
    
    strategy:
      matrix: 
        branch: ['master', 'stable']

    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.PAT }}
          ref: ${{ matrix.branch }}
          submodules: 'recursive'
      - name: 'Pull Submodules & Commit Changes'
        run: |
          git submodule --quiet foreach git fetch --quiet origin ${{ matrix.branch }}
          git submodule --quiet foreach git checkout --quiet origin/${{ matrix.branch }}
          if ! (git diff --quiet) then
            git checkout -B ${{ matrix.branch }}
            git config --global user.name "Phabricator Docker"
            git config --global user.email "phabricator-docker@users.noreply.github.com"
            git commit --all -m "Update Phabricator"
            git push origin ${{ matrix.branch }}
          fi
