name: Update

on:
  schedule:
    - cron: '55 * * * *'

jobs:
  update:

    runs-on: ubuntu-latest
    
    strategy:
      matrix: 
        branch: ['master', 'stable']

    steps:
      - uses: actions/checkout@v1
        with:
          ref: ${{ matrix.branch }}
          submodules: 'recursive'
      - name: 'Pull Submodules & Commit Changes'
        run: |
          git submodule --quiet foreach git pull --quiet origin ${{ matrix.branch }}
          if ! (git diff --quiet) then
            git checkout -b ${{ matrix.branch }}
            git config --global user.name "Phabricator Docker"
            git config --global user.email "phabricator-docker@users.noreply.github.com"
            git commit --all -m "Update Phabricator"
            git push origin ${{ matrix.branch }}
          fi
